*{
	/*google font from external source*/
	font-family: open Sans, sans-serif;
	/*reset css or remove the default style*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h1{
	display: grid;
	color: blue;
	font-size: 5rem;
	text-align: center;
}

#box{
	/*display: inherit;*/
	height: 150px;
	width: 300px;
	padding: 50px;
	border: 7px solid black;
	background-color: orange;
	margin-top: 40px;
	box-shadow: 5px 10px red;

}

#box2 {
	/*display: inherit;*/
	margin-top: 10px;
	height: 150px;
	width: 150px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	border: 10px solid darkgray;
	box-shadow: 5px 10px #b8b5ae;
}

.button	{
	border: 2px solid hotpink;
	padding: 10px;
	color: white;
	background-color: darkgray;
	border-radius: 50px;
	cursor: pointer;
}

.button2 {
	margin-right: 5px;
}

#container {
	display: inline;
}

#sidebar {
	/*display: inline-block;*/
	height: 100%;
	background-color: blue;
	width: 10vh;
	padding: 10px;
	position: fixed;

}

#content {
	/*display: inline-block;*/
	margin-left: 11vh;
	

	
}

#table {
	box-shadow: 5px 15px #b8b5ae;
}