/*reset the sizes and positioning of elements*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

main {
	margin-left: 15%;
}

footer {
	background-color: #002540;
	color: white;
	height: 150px;
	margin


}

.row {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 3px;
	
}

.go {
	margin-left: 100px;
}

a {
	color: white;
	text-decoration: none;
}
li {
	list-style-type: none;	
}

h6 {
	display: inline-block;
	margin-left: 15px;
	color: grey;
}

.border {
	border-right: 1px solid grey;
	padding: 5px;
	width: 100px;
}

